<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Сайт{% endblock %}</title>
</head>
<body>
<header>
    <div>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'client_all' %}">Список всей клиентов</a>
        <a href="{% url 'date_7' %}">Заказы за 7 дней</a>
        <a href="{% url 'date_30' %}">Заказы за 30 дней</a>
        <a href="{% url 'date_365' %}">Заказы за 365 дней</a>
        <a href="{% url 'product_form' %}">Редактирование товара</a>
        <a href="{% url 'upload_photo' %}">Загрузка фотографий</a>
    </div>
</header>
<section>
    <div>
        {% block content %}
        <p>Site</p>
        {% endblock %}
    </div>
</section>
<footer>
    <div>

    </div>
</footer>

</body>
</html>