{% extends 'shopapp/base.html' %}
{% load static %}
{% block title %}Клиент {{ client.name_client }} {% endblock %}
{% block content %}
<h2>Все заказы пользователя: {{ client.name_client }}</h2>
{% for key, values in order_dict.items %}
<h3> Заказ № {{ key.id }}</h3>
    {% for value in values %}
    <p>{{ value.name_product }}</p>
    {% if value.img_product %}
        <img src="{{ value.img_product.url }}" alt="{{ value.name_product }}" width="100">
    {% endif %}
    {% endfor %}
{% endfor %}

{% endblock %}

